*{
    max-width: 960px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header {
    background-color: grey;
    padding: 45px;

}
#header ul li {
    display: inline;
    padding: 20px;
    text-align: center;
}
span {
    float: right;
    position:  relative;
    top: -22px;
}

#main-content {
    display: flex;
}
li {
    list-style-type: none;
    padding: 10px;
}
#main-content .slidebar {
    padding: 50px;
    flex-basis: 30%;
}
#main-content .content {
    flex-basis: 60%;
    margin-top: 20px;
    text-align: justify;
}
#main-content .nav {
    padding: 50px;
    flex-basis: 30%;
}
#main-content .nav li{
    margin-top: 20px;
    border-color: grey;
}
#main-content li {
    padding: 20px;
}
#footer {
    margin-top: 30px;
    text-align: center;
    background-color: grey;
    padding: 50px;
}
#main-content .content1 {
    margin-top: 15px;
}


